body {
    margin: 0;
}
/*---------------Start of Content box Styling--------------------*/
h6 {
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16pt;
    margin: 0; /*You may need this margin on all of them */
    color: gainsboro;
    padding-left: 0.5em;
}
#contentBox {
    position: fixed;
    bottom: 3em;
    right: 3em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 2em;
    background-color: #424242;
    border-radius: 2em;
    border: 5px solid #00E8FF;
}
h6 a {
    text-decoration: none;
    color: gainsboro;
}
a:hover {
    color: #00E8FF;
}
/*--------------------End ofContent box Styling-----------------------*/