html, body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.number {
  font-size: 2rem;
}
button {
  background-color: gray;
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}