
/*
So I figured out how to do this. We just had a few things flip flopped.
*/
body {
    /*For the body, some things need to be moved.
    -The body should have the z-index rule
    -no position of 'absolute' is necessary */
    background-color: tan;
    margin: 0; /*This is optional. Just removes some of the space around the image*/
    z-index: 999; /*Place the body on top of the background*/

}
#background {
    /* 
    Make sure your width and height are set to fill the whole screen (lines 27,28).
    - Posisiton of 'fixed' here tell it to keep the background in the same spot as the text scrolls.
    */
    background: url(../img/A-FramePic2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw; /*Fill the whole width*/
    height: 100vh; /*Fill the whole height*/
    margin: 0;
    opacity: 0.25; /*Change this to your desired opacity and look*/
    position: fixed; /*tell the background to stay in one place*/
    top: 0;
    left: 0;
}

/*Ignore the stuff bellow this*/

p {
    margin: 25px;
}