/* ------ LEGEND ------
  USE CTRL + F OR CMD + F TO SEARCH TO KEY TERMS:
    HEADER
    MAIN PAGE

    FOOTER
--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --black: #1c1c1c;
  --white: white;
  --gray: gray;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}
h1 {
  font-size: 3em;
}
p, a {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
#contentParent {
  width: 100%;
}
.layoutParent {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.hrParent {
  display: flex;
  gap: 2em;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3em 0 3em 0;
}
.leftRule, .rightRule {
  background-color: var(--black);
  width: 100%;
}
.sectionParent {
  display: flex;
  gap: 2em; 
  width: 100%;
  max-width: 1500px;
}
.leftSide, .rightSide {
  width: 100%;
}
.leftSide {
  justify-content: space-evenly;
  gap: 1em;
}
.rightSide {
  gap: 1em;
  justify-content: space-evenly;
}
.rightLeftHalf, .rightRightHalf {
  width: 100%;
}
.leftLeftHalf, .leftRightHalf {
  width: 100%;
}


/* ----- ALL HEADER STYLES ----- */
#headerParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  height: fit-content;
  width:100%;
  flex-direction: row;
  border-bottom:2px solid var(--black);
  z-index: 99;
}
#headerImage {
  height: 30px;
  width: auto;
  margin:0.1em 0em 0.1em 6em;
  filter:invert();
}
#buttonParent {
  margin: 1em 6em 1em 0em;
}
.headerButton {
  background-color: rgba(0,0,0,0);
  color: var(--white);
  border: 2px solid transparent;
  font-weight: bold;
}
.headerButton:hover {
  border-bottom: 2px solid var(--white);
  border-top: 2px solid transparent;
  margin: 0.1em, 0.5em, 0.1em, 0.5em;
}
/* ------------------------------ */

/*-----MAIN PAGE CONTENT STYLES-----*/
#contentParent {
  margin: 3em 3em 2em 3em;
  display: flex;

  flex-direction: column;
}
/*-------------------------------------*/

/*-----SUMMARY------*/
#heading {
  font-size: 48pt;
  font-weight: bold;
  max-width: 90%;
}
#TLDR {
  font-size: 16pt;
  max-width: 50%;
}
/*-------------------*/

/*-----HERO STYLES----*/
#heroParent {
  margin: 5em 0em 0em 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
}
.heroItem {
  width: 100%;
}
.heroImage {
  height: 600px;
  width: 100%;
  background-size: cover;
  filter: grayscale();
}
.heroImage:hover {
  filter: none;
}
.heroTitle {
  text-decoration: underline;
}
/*--------------------*/

/*----PROJECTS STYLES----*/
#projectsParent {
  margin: 5em 0 5em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.projectsImage {
  height: 22em;
  width: 100%;
  max-width: 600px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: height 0.5s, background-size 0.5s;
  filter: grayscale();
}
.projectsImage:hover {
  height: 35em;
  filter: none;
}
.projectsTitle {
  text-decoration: underline;
}
.projectsDescription {
  margin: 1em 0 1em 0;
}
.projectsPeople {
  margin: 1em 0 1em 0;
}
.expandedParent {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 10em);
  height: 100%;
  margin: 5em;
  background-color: green;
  z-index: 99;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}
/*------------------------*/

/*-----PROFILE STYLES-----*/
.profile {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}
.profilePic {
  width: 200px;
  height: 200px;
  filter: grayscale();
}
.profileRole {
  margin: 0;
}
/*------------------------------*/

/*-----COURSES STYLES-----*/
.course {
  padding: 1em;
}
/*------------------------*/

/*-----CONTACT FORM STYLES-----*/
#contactForm {
  display: flex;
  flex-direction: column;
}
#contactForm input, #contactForm button {
  margin: 1em;
  font-size: 1.1em;
  border: none;
  border-bottom: 3px solid var(--black);
  border-right: 3px solid var(--black);
}
#contactForm button:hover {
  color: var(--white);
  background-color: var(--black);
}

/*-----------------------------*/

/* ----- ALL FOOTER STYLES ----- */
#footerParent {
  background-color: var(--black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--black);
  margin: 0;
}
#footerImage {
  /*width: 626px; --This matches the height with the typo lab log in the header (~40% of bowser width) */
  width: 469px;
  padding-left: 2em;
}
#footerAddress {
  width: 30%; /* Fix this when you have the right fonts to use. */
  height: auto;
  margin: 1em 0em 1em 0em;
}
.addressLines {
  margin: 0;
  color: var(--white);
}
/* ------------------------------ */