/*
  KEYWORDS:
  HEADER
  HOMEPAGE
  FOOTER
*/
:root {
  --background-color: #e6ff00;
  --text-body-color: #000000;
  --text-color-white: #ffffff;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* ----- ALL HEADER STYLES ----- */
/*  
https://scroll-driven-animations.style/demos/cover-to-fixed-header/css/
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scroll-driven_animations
https://developer.chrome.com/docs/css-ui/scroll-driven-animations 
*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;

  background-color: var(--background-color);
  padding: 1em 3em 1em 3em;
  border-radius: 2em;
  position: fixed;
  height: 50%;
  width: 50%;
  top: calc(50%/2);
  left: calc(25% - 50px);
}
.animateHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 1em 3em 1em 3em;
  position: fixed;

  animation-name: headerSlideUp;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
.postAnimationHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 1em 3em 1em 3em;
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  flex-direction: row;
}
#headerImage {
  height: 80%;
  width: auto;
  margin-right: 2em;
}
.headerButton {
  background-color: rgba(0,0,0,0);
  border: 2px solid transparent;
  font-size: large;
}
.headerButton:hover {
  border-bottom: 2px solid black;
  border-top: 2px solid transparent;

  margin: 0.1em, 0.5em, 0.1em, 0.5em;
}

@keyframes headerSlideUp {
  0% {
    height: calc(50%/2);
    width: 50%;
    top: calc(50%/2);
    left: calc(50%/2);
    flex-direction: column;
    gap: 1em;
    border-radius: 2em;
  }
  10% {
    flex-direction: row;
  }
  100% {
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    flex-direction: row;
    gap: 0;
  }
}
/* ------------------------------ */

/* ----- ALL PAGE CONTENT STYLES ----- */
#pageContentBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(red, green, blue);
}
#pageContent {
  width: 100%;
  height: 100%;
}
/* ------------------------------ */

/* ----- ALL HOMEPAGE STYLES ----- */
#preAnimationHomePage {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
#animateHomePage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  animation-name: homePageSlideUp;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
#postAnimationHomePage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#summary {
  background-color: white;
  border-radius: 1em;
  padding: 3em;
  width: 15em;
}

@keyframes homePageSlideUp {
  0% {
    margin-top: 50%;
  }
  100% {
    margin-top: 0;
  }
}
/* ------------------------------- */

/* ----- ALL PEOPLE PAGE STYLES ----- */
#profileParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
  margin: 8em 2em 8em 2em;
}
.profile {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 2em;
}
.profileImage {
  width: 200px;
  height: 200px;
}
.profileName {
  border: 0px solid transparent;
}
.profileRole {
  border: 0px solid transparent;
}
/* ------------------------------- */

/* ----- ALL FOOTER STYLES ----- */
#footer {
  background-color: var(--text-body-color);

  position: sticky;
  top: 100%;
  width: 100%;
  padding: 2em 0 2em 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footerImage {
  /*width: 626px; --This matches the height with the typo lab log in the header (~40% of bowser width) */
  width: 469px;
  padding-left: 2em;
}
#footerAddress {
  border: 0px solid orange;
  width: 30%; /* Fix this when you have the right fonts to use. */
  height: auto;
}
.addressLines {
  margin: 0;
  color: var(--text-color-white);
}
/* ------------------------------ */

