/*---------------Start of Content box Styling--------------------*/
h6 {
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16pt;
    margin: 0; /*You may need this margin on all of them */
    color: gainsboro;
    padding-left: 0.5em;
}
#contentBox {
    position: fixed;
    bottom: 3em;
    right: 3em;
    Display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 2em;
    background-color: #424242;
    border-radius: 2em;
    border: 5px solid #00E8FF;
}
h6 a {
    text-decoration: none;
    color: gainsboro;
}
a:hover {
    color: #00E8FF;
}
/*--------------------End ofContent box Styling-----------------------*/


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: gainsboro;
}
.boxStyle {
    border: 5px solid orange;
    background-color: lightsalmon;
    border-radius: 3rem;
    padding: 4rem;
    margin: 10% 0 0 0;
}
#quoteBox {
    color: white;
}
#buttonContainer {
    position: fixed;
    bottom: 5%;
}
button {
    padding: 0.5rem;
    border: 2px solid orange;
}
button:hover {
    background-color: orange;
    border: 2px solid salmon;
}