body {
    background-color: #121212;
}
main {
    margin-bottom: 3em;
    
}
#modes {
    display: flex;
    flex-direction: column;
}
footer {
    position: absolute;
    bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}