/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px; /*This is the size of 1em*/
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */
  

  /* Rulesets to be matched up with selectors */
  
 .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red; /* Wrong spelling*/
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    /*Things I added*/
    height: 3em;
    padding: 1em;
  }
  
  .card footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
    /*Things I added*/
    height: 3em;
    padding: 1em;
  }
  
  .card article img{
    max-height: 100%; /* Missing ; here*/
    float: right;
  }

  /*---------------Things I added----------------*/
  h2, p { /* Use commas to seperate multiple targets*/
    margin: 0;
  }
  h2 {
    font-size: 2em;
    line-height: 1.5em;
  }
  article {
    height: 12em;
    background-color: rgba(0, 0, 0, 0.2); /*(red green blue alpha (0 is transparent))*/
  }
  article p{
    padding: 1em;
    color: white;
  }
  footer p{
    font-size: 1.5em;
    line-height: 1.5em
  }
/*-----------------SECOND CARD------------------------*/
.card2 {
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: #CF9314;
  border: 0.2em solid #765715;
  border-radius: 1.5em;
}

.card2 header{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
  /*Things I added*/
  height: 3em;
  padding: 1em;
}

.card2 footer{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
  /*Things I added*/
  height: 3em;
  padding: 1em;
}

.card2 article img{
  max-height: 100%; /* Missing ; here*/
  float: right;
}
.card2 p {
  color: black;
}