#box1 {
    position: fixed;
    top: 50px;
    left: 50px;
    background-color: blue;

    height: 100px;
    width: auto;

}
#box2 {
    position: fixed;
    background-color: red;
    top: 50px;
    left: 150px;

    width: 100px;
    height: 100px;
}
#box3 {
    position: fixed;    
    background-color: green;
    top: 50px;
    left: 300px;

    width: 100px;
    height: 100px;

}