@font-face {
    font-family: BubblePixels;
    src: url(../fonts/04B_30__.TTF);
}
@font-face {
    font-family: BodyPixel;
    src: url(../fonts/Minecraft.ttf);
}
/* -----GENERAL STYLES----- */
:root {
    --cyan: #00FFFF;
    --magenta: #FF00FF;
    --softWhite: #B7B7B7;
    --bgMagenta: #FF00FF0D;
    --bgColor: #1c1c1c;
    --bgBlue: #0F0F1E;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--bgBlue);
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------- Text/Font ---------------*/
h1 {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 72pt;
}
h2 {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56pt;
}
h3 {
    font-family: "montserrat", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 40pt;
}
h4 {
    font-family: "montserrat", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 36pt;
}
h5 {
    font-family: "BubblePixels";
    font-weight: 1000;
    font-style: normal;
    font-size: 24pt;
    margin: 0 0 0 0;
}
p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    color: var(--softWhite);
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}
a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    color: var(--cyan);
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;
    background-color: var(--softWhite);
    height: 2px;
    margin: 1em 0 1em 0;
}

#quote {
    text-align: center;
    font-family: "BodyPixel";
    font-size: 24px;
    color: var(--softWhite);
    font-weight: lighter;
}
/*----------------------------------------*/

/* -----GENERAL LAYOUT STYLES----- */
#contentParent {
    max-width: 1500px;
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}
.leftSide {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
}
.rightSide {
    width: 100%;
}
/* ------------------------------- */

/* -----HEADER STYLES----- */
#homeParent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#firstName {
    font-family: "BubblePixels";
    font-size: 30pt;
}
#lastName {
    font-family: "BubblePixels";
    font-size: 30pt;
}
#header {
    margin: 2em;
}
#nameParent {
    display: flex;
    gap: 0.25rem;
}
#subHeader {
    margin: 1rem 0 1rem 0;
}
/* ----------------------- */

/* -----LINKS STYLES----- */
#linkParent {
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}
#iconParent {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.icons {
    width: 30px;
    height: auto;
    opacity: 0.5;
    transition: opacity 0.2s;
}
.icons:hover {
    opacity: 1;
}
#arrow {
    transform: rotateZ(-90deg);
    margin-top: 3rem;
}
/* ---------------------- */

/* -----ABOUT BLOCK STYLES----- */
#aboutParent {
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;

}
#aboutMe p {
    min-width: 300px;
    font-size: 16pt;
}
/* ---------------------------- */

/* -----EXPANSION STYLES----- */
.expansionParent {
    position: fixed;
    padding: 2em 5em 2em 5em;
    margin: 2% 5% 2% 5%;
    top: 0;
    left: 0;
    height: 85%;
    width: 85%;
    background-color: var(--bgMagenta);
    border: 2px solid var(--magenta);
    border-radius: 1em;
    overflow-y: scroll;
}
.expansionOverlay {
    background-color: var(--bgBlue);
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 19;
}
.expansionCopy {
    color: var(--softWhite);
    margin-top: 1em;
}
.EXPtitleParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0 0 0;
}
.closeButton {
    position: fixed;
    top: 10%;
    right: 10%;
    width: 20px;
    height:auto;
    padding: 1em;
    filter: invert();
    transition: transform 0.5s, width 0.5s, height 0.5s;
}
.closeButton:hover {
    transform: rotate(90deg);
    width: 40px;
    height: auto;
}
.expansionLogos {
    height: 100px;
    margin: 2em;
}
/* -------------------------- */

/* -----GENERIC LAYOUT.JS STYLES----- */
.splitLayoutParent {
    display: flex;
    gap: 1em;
    margin: 2em 0 2em 0;
}
.splitLeftSide {
    width: 100%;
}
.splitRightSide {
    width: 100%;
}

.heroParent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroImage {
    width: 70%;
    height: auto;
    border-radius: 3em;
}
/* ---------------------------------- */

/* -----CONTROLLER BUTTON STYLES----- */
.controllerButtons {
    padding: 5px 9px 5px 9px;
    background-color: var(--bgColor);
    border-radius: 100%;
    font-weight: bold;
    text-decoration: none;
}
.buttonMargin {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    z-index: 9;
    position: absolute;
    bottom: calc(-149px / 2);
    left: calc(-154px / 2);
    background-color: rgba(0,0,0,0.5);
    border-radius: 10em;
}
.buttonParent {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 85px;
    border-radius: 1rem;
}
.topAndBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    font-size: 12pt;
    border: none;
}
#Abutton {
    color: green;
}
#Abutton:hover {
    background-color: green;
    color: var(--bgColor);
}
#Bbutton {
    color: red;
}
#Bbutton:hover {
    background-color: red;
    color: var(--bgColor);
}
#Xbutton {
    color: royalblue;
}
#Xbutton:hover {
    background-color: royalblue;
    color: var(--bgColor);
}
#Ybutton {
    color: yellow;
}
#Ybutton:hover {
    background-color: yellow;
    color: var(--bgColor);
}
/* ----------------------------------- */

/* -----PROJECT STYLES----- */
.projectEntries {
    position: relative;
    padding: 1em;
    margin: 2em 1em 2em 1em;
    border-radius: 0.5rem;
    transition: transform 0.2s, border 0.2s, background-color 0.2s;
}
.projectEntries:hover {
    transform: scale(1.1) translate(-50px, 0px);
    border: 2px solid var(--magenta);
    background-color: var(--bgMagenta);
}
.description {
    min-width: 300px;
}
.packages {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
}
.package {
    font-size: 10pt;
    font-weight: bold;
    padding: 1em;
    border: 1px solid var(--magenta);
    background-color:#FF00FF1A;
    border-radius: 2rem;
    min-width: 4rem;
    text-align: center;
}
.titleParent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.title {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px var(--cyan);
}
.dates {
    color: slategray;
    margin: 0;
    padding: 0;
}
.link {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/* ------------------------------------- */

/*------- Specific Styles for text----------*/
.filled {
    color: var(--cyan);
}
.stroke {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px var(--cyan);
}
/*------------------------------------------*/

/* -----CUSTOM SCROLL BAR----- */
::-webkit-scrollbar {
    color: red;
}
/* --------------------------- */

/*--------- Animations --------------------*/
@keyframes fadeout {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
/*---------------------------------------------*/

@media screen and (max-width: 999px) {

}