body {
    background-color: black;
}
#gameStatus {
    color: red;
    font-size: 32pt;
}
#gameStatus2 {
    color: red;
    font-size: 32pt;
}
#gameContent {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftBox {
    width: 10%;
    margin: auto;
    color: white;
}
canvas {
    border: 5px solid black;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 100px;
}
#rightBox {
    width: 10%;
    margin: auto;
    color: white;
}
footer {
    display:flex;
    align-self: center;
    Justify-content: center;
    background-color: black;
}
