body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftBox {
    margin: auto;
    color: white;
}
canvas {
    border: 5px solid black;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: auto;
}
#rightBox {
    margin: auto;
    color: white;
}
