body {
    width: auto;
    height: auto;
    margin: 50px;
    background-color: #154372;

    display: flex;
    align-items: center;
    justify-content: center;
}
#myCanvas {

    background-color:#154372;
}