/*This marks the start of the Desktop styling of the main portal*/
@media screen and (min-width: 1000px) {
    body {
        background-color: darkcyan;
        display: flex;
        justify-content: center;
        margin: 10% 0 0 0;
    }
    p {
        color: pink;
    }
    .box {
        padding: 100px;
        margin: 0 0 0 10%;
        transition: all .2s ease-in-out;
        /*Clip path is the same as a layer mask in photoshop*/
        clip-path: polygon(0% 100%, 50% 0%, 100% 50%, 100% 100%)
    }
    #topleft {
        border: 5px solid red;
    }
    #topleft:hover {
        background-color: darkblue;
        transform: scale(1.1)
    }
    #topright {
        border: 5px solid green;
    }
    #topright:hover {
        background-color: darkblue;
        transform: scale(1.1)
    }
    #bottomleft {
        border: 5px solid blue;
    }
    #bottomright {
        border: 5px solid yellow;
    }
}
/*This marks the strat of Mobile styling of the main portal*/
@media screen and (max-width: 999px) {
    body {
        background-color: lightgreen;
    }
    .box {
        padding: 100px;
        margin: 10% 0 0 0;
    }
    #topleft {
        border: 5px solid red;
    }
    #topright {
        border: 5px solid green;
    }
    #bottomleft {
        border: 5px solid blue;
    }
    #bottomright {
        border: 5px solid yellow;
    }
}
