/*NOTES:
    Heirarchy is as follows: ID > Class > Element
*/

/*The Following are Text styles (h's, p, etc.)*/
h1 {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6em;
}
h2 {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
}
h3 {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4em;
}
h4 {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}
h5 {
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
    margin: 0 0 10px 0;
}
p {
    font-family: "calibri", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

/*This marks the start of the Desktop styling of the main portal*/
@media screen and (min-width: 1000px) {
    body {
        background-color: darkcyan;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2em;
    }

    .cells {
        transition: all .2s ease-in-out;
        transform: rotate(90deg);
        background-color: white;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        /*Clip path is the same as a layer mask in photoshop*/
    }
    .cells:hover {
        transform: scale(1.2);
        background-color: orange;
    }
    #row1 {
        display: flex;
        align-items: center;
    }
    #row2 {
        display: flex;
        align-items: center;
    }
    #row3 {
        display: flex;
        align-items: center;
    }
    #row4 {
        display: flex;
        justify-content: space-around;
    }
    #mainTier {
        width: 12em;
        height: 12em;
    }
    p {
        font-size: 1.5em;
        color: white;
    }
    #secondTier {
        width: 10em;
        height: 10em;
        margin: 0 1.5em 0 1.5em;
    }
    #thirdTier {
        width: 8em;
        height: 8em;
        margin: 0 2em 0 2em;
    }
    #detailTier {
        width: 4em;
        height: 4em;
        margin: 2em 2em 2em 2em;
    }
}
/*This marks the strat of Mobile styling of the main portal*/
@media screen and (max-width: 999px) {
    body {
        background-color: darkcyan;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 25% 25% 25% 25%;
    }

    .cells {
        transition: all .2s ease-in-out;
        transform: rotate(90deg);
        background-color: white;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        /*Clip path is the same as a layer mask in photoshop*/
    }
    .cells:hover {
        transform: scale(1.2);
        background-color: orange;
    }
    p {
        font-size: 1.5em;
        color: white;
    }
    #row1 {
        display: flex;
    }
    #row2 {
        display: flex;
    }
    #row3 {
        display: flex;
    }
    #mainTier {
        width: 10em;
        height: 10em;
    }
    #secondTier {
        width: 8em;
        height: 8em;
        margin: 1em;
    }
    #thirdTier {
        width: 6em;
        height: 6em;
        margin: 1em;
    }
}
