.parent {
    display: flex;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}
.settings {
    position: relative;
    right: 1em;
    height: 2em;
    width: 2em;
    border: 2px solid red;
}
h1 {
    margin: 0;
    position: relative;
    left: 1em;
}
