body {
  display: flex;
  justify-content: center;
}
.mapArea {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
}
#wood {
  background-color: green;
}
#stone {
  background-color: grey;
}
#dirt {
  background-color: brown;
}
.materialBox {

  padding: 0;
  margin: 0;
}