.mapArea {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  height: 90vh;
}

#wood {
  background-color: green;
}
#stone {
  background-color: grey;
}
#dirt {
  background-color: brown;
}
.materialBox {
  width: 32px;
  height: 32px;
}